<table class="w-100" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="route">
        <th mat-header-cell *matHeaderCellDef>路線</th>
        <td mat-cell *matCellDef="let element">
            {{element.Route1 != null? element.Route1: element.Route2}}
        </td>
    </ng-container>

    <ng-container matColumnDef="destination">
        <th mat-header-cell *matHeaderCellDef>目的地</th>
        <td mat-cell *matCellDef="let element">
            {{element.Destination_CHI}}
        </td>
    </ng-container>

    <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef>轉乘優惠</th>
        <td mat-cell *matCellDef="let element">
            {{element.Discount}}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
            Fail to load data
        </td>
    </tr>
</table>